#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{{ ansible_managed | comment }}

[Service]
ExecStartPre={% if ansible_os_family == "Debian" %}/usr/sbin/modprobe{% else %}/sbin/modprobe{% endif %} blocklayoutdriver
